* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAV BAR | TOP MENU */

.top-menu-container {
    width: 100%;
    display: flex;
    gap: 50px;
    background: #0E58A8;
    justify-content: space-evenly;
    padding: 10px 75px;
}

.top-menu-social-media {
    display: flex;
    gap: 20px;
}

.text-top-menu a {
    text-decoration: none;
    border-bottom: solid 1px #0E58A8;
    color: #fff;
}

.text-top-menu p {
    color: #fff;
    margin: 0;
}

.text-top-menu a:hover {
    border-bottom: solid 1px #fff;
}

.span-top-menu {
    font-weight: 500;
    color: #fff;
}

/* NAV BAR */

nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    width: 225px;
}

.navbar-links-container a {
    margin-right: 40px;
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-links-container a:hover {
    color: #0E58A8;
    border-bottom: solid 1px #0E58A8;
}

#agende {
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

#agende:hover {
    opacity: 0.8;
    border: none;
}

.hamburguer-menu-mobile {
    display: none;
}

.hamburguer-menu-mobile svg {
    font-size: 25px;
    cursor: pointer;
}

.navbar-menu-link-mobile {
    text-decoration: none;
    color: #222;
}

.navbar-menu-link-mobile:hover {
    color: #247BA0;
}

.phone-menu-icon {
    color: #707070;
}

/* SECTION COMPANIES */

.companies-container {
    background: #0E58A8;
    padding: 1px;
}

.companies-logos-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 10px;
    padding-bottom: 10px;
}

.companies-logos-imgs {
    width: 200px;
    height: 75px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo-link-button {
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px #0E58A8;
}

.logo-link-button:hover {
    border-bottom: solid 1px #fff;
}


#saude10 {
    width: 150px;
}

/* SECTION WELCOME */

.welcome-section {
    background-image: url("./Assets/bg.png");
    padding: 1px;
}

.welcome-content-text, .hours-open-container {
    text-align: center;
    width: 75%;
    margin: 20px auto;
}

.welcome-content-span {
    color: #808080;
    font-size: 24px;
}

.welcome-content-title {
    font-size: 30px;
    color: #0b4575;
}

.welcome-content-paragraph {
    font-size: 17px;
}

.list-unstyled {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

/* SECTION SERVICES */

.services-container h3 {
    text-align: center;
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    padding: 50px;
}

.grid-items {
    display: flex;
    gap: 20px;
    width: 500px;
    margin: 20px;
}

.grid-items i {
    margin: auto;
    color: #0d6efd;
}

.grid-items svg {
    font-size: 30px;
}

.button-open-alert2 {
    font-size: 14px !important;
    border: none !important;
    color: #212529 !important;
    border-bottom: solid 1px #fff !important;
    text-transform: lowercase !important;
}

.button-open-alert2:hover {
    border-bottom: solid 1px #212529 !important;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    color: #000 !important;
    font-weight: 500;
}

/* SCROLL BUTTON */

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(11, 97, 189, 0.812);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.scroll-to-top-button.visible {
    display: inline-block;
}

.scroll-to-top-button:hover {
    opacity: 0.9;
}


@media (max-width: 1200px) {

    .top-menu-container {
        display: none;
    }

    .text-top-menu-mobile p {
        color: #222;
    }

    .span-top-menu {
        color: #222;
        display: flex;
        justify-content: center;
    }

    .navbar-links-container a {
        display: none;
    }

    .hamburguer-menu-mobile {
        display: unset;
    }

    .infos-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .infos-mobile p, .infos-mobile a {
        text-decoration: none;
        color: #212529;
    }

    .infos-mobile a:hover {
        border-bottom: solid 1px #247BA0;
        color: #247BA0;
    }
}